.Button2
{
    box-sizing: border-box;

display: flex;
flex-direction: column;
align-items: center;

background: #81717A;
border: 1px solid #000000;
/* Note: backdrop-filter has minimal browser support */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;

color: #FFFFFF; 
}

